.InputSearch {
  position: relative;

  input {
    outline: none;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 4px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
    font-size: 12px;
    color: #fff;

    &:active, &:focus {
      text-align: left;
    }

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, .9);
    }
  }

  .suggestions {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    text-align: left;
    background-color: rgba(0, 0, 0, .85);
    border-radius: 6px;
    z-index: 999;

    .suggestion {
      padding: 2px 8px;
      padding-bottom: 0;
      font-size: 12px;
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, .05);
      text-transform: capitalize;

      &:first-child {
        border-radius: 6px 6px 0 0;
      }

      &:last-child {
        padding-bottom: 2px;
        border-radius: 0 0 6px 6px;
      }

      &.is-selected {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }
}
