.PackageManager {
  .ant-badge-status-dot {
    width: 4px;
    height: 4px;
  }

  .ant-badge-status-text {
    margin-left: 5px;
  }
}

.PackageManagerPopover {
  width: 250px;

  .InputSearch {
    margin-bottom: 16px;
  }

  .install-package {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

    .install-package-link {
      flex: 1;
      text-align: right;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .running-tasks {
    .running-task {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 2px 10px;
      border-radius: 4px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 16px;
      }
    }
  }

  .dependencies {
    max-height: 300px;
    overflow-y: auto;
    transform: translate3d(0, 0, 0);

    .ListEntry {
      .version {
        background-color: rgba(0, 0, 0, .35);
        color: #fff;
        padding: 1px 3px;
        padding-left: 5px;
        border-radius: 7px;
        font-size: 10px;
        margin-left: 5px;
        float: right;
        min-width: 60px;
        transition: 250ms background-color;
        display: inline-flex;
        justify-self: flex-start;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: rgba(0, 0, 0, .6);
          cursor: pointer;
        }

        &.has-actions-opened {
          background-color: rgba(0, 0, 0, 0.05);
          display: inline-flex;
          justify-content: space-around;
          height: 17px;

          .action {
            &.delete {
              color: red;
            }

            &.upgrade {
              color: green;
            }
          }
        }

        .anticon {
          line-height: 10px;
          font-size: 10px;
        }
      }

      .description {
        font-size: 12px;
      }
    }
  }
}
