.EditorFooter {
  padding: 0 5px;
  margin: 0;
  border-top: 1px solid #eee;
  line-height: 23px;
  height: 24px;
  font-size: 10px;
  letter-spacing: 1px;

  .has-selection {
    strong {
      margin-left: 10px;
      opacity: 1;
    }
  }

  strong {
    background-color: rgba(255, 255, 255, .15);
    padding: 1px 4px;
    border-radius: 3px;
    font-weight: normal;
    margin-left: 7px;
    opacity: 0;
    transition: 250ms all;
    font-size: 10px;
  }

  .current-opened-file {
    margin-right: 10px;
    float: right;
    font-weight: normal;
    font-size: 10px;
  }
}
