.ToolbarButtonGroup {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 !important;

  .ToolbarButton {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #313131;

    &:first-child {
      border-radius: 4px 0 0 4px;
      margin-left: 5px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      margin-right: 5px;
      border-right: 0;
    }
  }
}
