.Components {
  height: 100vh;
  border-left: 1px solid #ccc;
  transition: opacity 250ms;
  flex: 1;

  .bricks {
    overflow-y: auto;
    transform: translate3d(0, 0, 0);
    height: calc(100vh - 47px);
  }
}
