.Configurator {
  width: 230px;

  .ConfiguratorContent {
    max-height: 300px;
    overflow-y: auto;

    &.busy {
      cursor: default;
      opacity: 0.8;
    }
  }
}

.ConfiguratorContainer {
  opacity: 0.6;
  font-weight: normal;
}
